.header-section {

    display: flex;
    justify-content: center;
    align-items: center;

    height: 8vh;
    background-color: $main-color;
    box-shadow: 0 5px 10px rgba(0,0,0,0.19);

    .header-title, i {
        color: $color3;
        font-size: 2.5rem;
        display: inline-block;
        cursor: pointer;
    }

    .header-title { 
        font-family: $theme-font;
    }
    
}