.header-section {
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 10vh;
    background-color: $main-color;
    clip-path: ellipse(70% 85% at 50% 12%);

    .header-link > * {
        color: $color3;
        font-size: 2.5rem;
        display: inline-block;
        cursor: pointer;

        &.header-title { 
            font-family: $theme-font;
        }
    }
}